<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<div class="row">
	<div class="col-md-2">
    <a class="btn btn-primary" href="/channels/new">New Channel</a>

		<ul class="list-group">
		  <% @channels.each do |channel| %>
			  <a href="/channel/<%= channel.id %>"><li class="list-group-item">
          <%= channel.name %>
			  </li></a> 
			<% end %>
		</ul>
	</div>
	<div class="col-md-4">
		<%= @channel.name %>
	</div>
	<div class="col-md-6">
		chat
	</div>
</div>