<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<div class="row">
	<div class="col-md-2">
		channel
	</div>
	<div class="col-md-4">
		post
	</div>
	<div class="col-md-6">
		chat
	</div>
</div>